#utilities
numpy
pandas

# face recognition
scikit-learn
dlib-bin
face-recognition
click

git+https://github.com/ageitgey/face_recognition_models.git
setuptools>=77.0.3,<82.0.0

# audio / voice
webrtcvad-wheels
torch
librosa
resemblyzer

supabase
bcrypt

segno
pillow

streamlit